* {
  background-color: white;
  margin: auto;
}
.file-upload{
  position: relative;
  display: inline-block;

}

.file-uploadLabel{
  display: block;
  padding: 1em 2em;
  color: white;
  background: #eba738;

}

.file-uploadInput{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 1;
  width: 0%;
  height: 100%;
  opacity: 0;
}

.imgCont{
  background-color: aqua;
  width: 600px;

}

img{
  max-width: 100%;
  max-height: 100%;
}
